<div class="row note" contenteditable="true">
	<h2 class="tiny button radius title" contenteditable="false"><%= note.title %></h2>
	<p class="comment"><%= note.comment %></p> 
	<p contenteditable="false"><%= link_to "Delete", note_path(note), :class => "tiny button radius delete", remote: true, method: :delete  %></p>
</div>