<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Notes</title>
</head>
<body>
	<div class="row">
		<div class="large-4 columns">
			<form action="/notes/create" method="POST">
				<input type="text" placeholder="Insert note here....">
				<input class="nice blue radius button" type="submit" value="Add Note">
			</form>
		</div>
	</div>
</body>
